.footer
  table(border="0" cellpadding="0" cellspacing="0")
    tr
      td.content-block
        br
        |  Don't like these emails? 
        a(href="http://i.imgur.com/CScmqnj.gif") Unsubscribe
        br
        br
        span.apple-link Blockstack PBC
        br
        span.apple-link 37 Great Jones St, 2nd Floor, New York NY
