- var title = 'Restore ID - Blockstack'
include includes/head
body
  table.body(border="0" cellpadding="0" cellspacing="0")
    tr
      td  
      td.container
        .content
          // START CENTERED WHITE CONTAINER
          span.preheader Magic link: Save this  email forever
          table.main
            // START MAIN CONTENT AREA
            tr
              td.wrapper
                table(border="0" cellpadding="0" cellspacing="0")
                  tr
                    td
                      h3 Magic link: Save this  email forever - #{blockstackId || 'Your Blockstack ID'}
                      p You can recover your Blockstack ID on any device, by tapping the magic link below and entering your password (the password you entered when you created this Blockstack ID). 
                      p Save this email forever, we only send you this magic link once when you create your ID.
                      br
                      table.btn.btn-primary(border="0" cellpadding="0" cellspacing="0")
                        tbody
                          tr
                            td(align="left")
                              table(border="0" cellpadding="0" cellspacing="0")
                                tbody
                                  tr
                                    td
                                      a(href=restoreLink target="_blank") Restore your ID
            // END MAIN CONTENT AREA
          include includes/foot
          // END CENTERED WHITE CONTAINER
      td  
